.button {
    display: block;
    max-width: 490px;
    width: 100%;
    text-decoration: none;
    font-family: "Manrope", sans-serif;
    color: #303030;
    font-size: 1.375rem;
    font-weight: 400;
    padding: 0.5em 1em;
    text-align: center;
    border: 2px solid #303030;
    background: #8bd2ff;
    box-shadow: 10px 10px 0 -1px #4178e5, 10px 10px 0 1px #303030;
}

.button:hover,
.button:focus {
    background: #e7b9e2;
    box-shadow: 10px 10px 0 -1px #c35eb9, 10px 10px 0 1px #303030;
}
