.header {
    width: 100%;
    background-color: var(--header-gradient);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em 1em;
    position: fixed;
    top: 0;
    z-index: 10;
}
.header__logo {
    height: 30px;
}

.header__nav {
    display: none;
    justify-content: space-between;
    gap: 3em;
}

.header__nav-link {
    font-size: 1.25rem;
    text-transform: uppercase;
}

@media screen and (min-width: 768px) {
    .header__nav {
        display: flex;
    }
    .header__logo {
        height: 40px;
    }
}
