.header {
    width: 100%;
    background: #e9e9e9;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em 1em;
    top: 0;
    z-index: 10;
}
.wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1024px;
}
.header__logo {
    height: 30px;
}

.header__nav {
    display: none;
    justify-content: space-between;

    gap: 3em;
}

.header__nav-link {
    font-size: 1.25rem;
    text-transform: uppercase;
    position: relative;
}

.header__nav-link:hover::before,
.header__nav-link-active::before {
    content: ""; /* Add content to the pseudo-element */
    position: absolute; /* Set position absolute to position the pseudo-element */
    bottom: -25px;
    left: -10px;
    width: 100%;
    height: 100%;
    background-image: url("../assets/header/line.png");
    background-size: 100%;
    background-repeat: no-repeat;
}
/* Class for hiding the navbar */
.hide {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-out, visibility 0.3s ease-out;
}

/* Class for showing the navbar */
.show {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease-in, visibility 0.3s ease-in;
}

@media screen and (min-width: 768px) {
    .header__nav {
        display: flex;
    }
    .header__logo {
        height: 40px;
    }
}
@media screen and (min-width: 1024px) {
    .header {
        position: fixed;
    }
    .header__logo {
        height: 70px;
    }
}
