.slides {
    background-color: var(--dark-background);
    color: var(--white-text);
    text-align: left;
    user-select: none;
}

.slides__title {
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 0.85em;
}

.slides__title_pink {
    color: var(--pink-text);
}
.slides__row {
    max-width: 480px;
}
.slides__text {
    font-size: 0.95rem;
    margin-bottom: 1.25em;
}

@media screen and (min-width: 768px) {
    .slides__row {
        display: flex;
        gap: 5em;
        max-width: 1024px;
    }
}
